name: Deploy ARM Template

on:
  push:
    branches:
      - main

env:
  LOCATION: eastus
  TEMPLATE_FILE: AzureDeploy.json
  PARAMETERS_FILE: Variables.yaml

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy ARM template with YAML parameters
        run: |
          az deployment sub create \
            --location $LOCATION \
            --template-file $TEMPLATE_FILE \
            --parameters @$PARAMETERS_FILE
